/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Robot:400,100,300,700,500");
$base-font: "Source Sans Pro", "Helvetica", "sans-serif";
$header-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #0091ea;

$red: #FF5252;
$light-blue: #64c1ff;
$blue: $brand-color;
$dark-blue: #0064b7;
$yellow: #FFD600;
$orange: #FF9100;
$green: #00C853;

$very-light-gray: #ECEFF1;
$light-gray: #AEAEAE;
$gray: #263238;
$dark-gray: #000a12;
