/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.card-landingpage {
  padding: 20px;
  background-color: $very-light-gray;
  min-height: 200px;
  margin-top: 15px;
}

.title-landingpage {
  margin-top: 40px;
  h1 {
    margin-bottom: 0;
  }
}
