.new-request {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.tab-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
