<div class="hidden-xs hidden-sm">
  <div class="footer navbar-fixed-bottom">
    <div class="footer-links">
    </div>
    <div class="footer-copyright">
      Copyright 2017 Ringi.co
    </div>
  </div>
</div>
