<h1>Request#commented</h1>

<p>
  <% if locale == I18n.default_locale %>
    <%= link_to t('.commented'), request_url(@request, locale: nil) %>
  <% else %>
    <%= link_to t('.commented'), request_url(@request, locale: locale) %>
  <% end %>
</p>
