<h1>Request#created</h1>

<p>
  <% if locale == I18n.default_locale %>
    <%= link_to t('.created'), request_url(@request, subdomain: 'www', locale: nil) %>
  <% else %>
    <%= link_to t('.created'), request_url(@request, subdomain: 'www', locale: locale) %>
  <% end %>
</p>
