<div class="container">
  <div class="row">
    <div class="card col-md-offset-1 col-md-10">
      <div class="card-left-part">
        <p>
          <span class="card-left-first-row">
            <%= @request.content %>
          </span>
        </p>
        <div class="card-left-bottom-row">
          <div class="card-left-bottom-button">
            <div class="btn btn-info btn-block">
              Close
            </div>
          </div>
        </div>
      </div>

      <div class="card-right-part">
        <div class="card-date">
          <h5>Due Date</h5>
          <p>2017 5/31</p>
        </div>

        <% unless @request.user == current_user %>
          <div class="card-creator">
            <h5>Creator</h5>
            <p><%= "#{@request.user.first_name} #{@request.user.last_name}" %></p>
          </div>
        <% end %>

        <div class="card-receivers">
          <h5>Receivers</h5>
        </div>

        <div class="card-receiver-list">
          <div class="card-receiver-name">
            <p>Keanu Reeves</p>
            <div class="img-circle done">
              <i class="material-icons">done</i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
