<div class="container">
  <div class="row index-nav">
    <div class="col-md-offset-2 col-md-8">
      <div class="new-request">
        <% if policy(Request).create? %>
          <%= link_to t('.new_request'), new_request_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row index-nav">
    <div class="col-md-offset-2 col-md-8">
      <div class="tab-and-search">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a><%= t('.open') %></a>
          </li>
          <li role="presentation">
            <%= link_to t('.closed'), requests_sent_closed_path %>
          </li>
        </ul>
        <form action="">
          <input type="text" placeholder="<%#= t('.search_request') %>Search function (WIP)">
        </form>
      </div>
    </div>
  </div>
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= render "sent_request_card", request: request %>
      </div>
    </div>
  <% end %>
</div>
