.card {
  background-color: $very-light-gray;
  display: flex;
  height: 300px;
  padding: 6px;
  border-radius: $border-radius-base;

  .card-left-part {
    background-color: white;
    flex: 0 1 75%;
    height: 100%;
    margin-right: 3px;
    padding: 5px;
    position: relative;
    display: flex;

    .card-left-first-row {
      font-weight: bold;
    }

    .card-left-bottom-row {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      justify-content: space-between;

      .card-left-bottom-button {
        flex: 0 0 25%;
        padding-left: 5px;
        padding-bottom: 5px;
      }

      .card-left-bottom-button:last-child {
        padding-right: 5px;
      }
    }
  }

  .card-right-part {
    display: flex;
    flex: 0 0 25%;
    height: 100%;
    margin-left: 3px;
    flex-direction: column;

    .card-date {
      background-color: white;
      flex: 0 0 0%;
      margin-bottom: 3px;
      padding: 5px 10px;

      h5 {
        color: $light-gray;
      }

      p {
        margin-bottom: 0;
      }
    }

    .card-creator {
      background-color: white;
      flex: 0 0 0%;
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 5px 10px;

      h5 {
        color: $light-gray;
      }

      p {
        margin-bottom: 0;
      }
    }

    .card-receivers {
      background-color: white;
      flex: 0 0 0%;
      margin-top: 3px;
      padding: 5px 10px 0 10px;

      h5 {
        color: $light-gray;
      }
    }

    .card-receiver-list {
      background-color: white;
      flex: 1 0 0%;
      margin-top: 0px;
      padding: 0 10px 5px 10px;
      overflow-y: scroll;

      .yourself {
        font-weight: bold;
      }


      .card-receiver-name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .img-circle {
          height: 22px;
          width: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          margin-bottom: 0;
        }

        i {
          font-size: unset;
        }

        .done {
          background-color: $green;
          i {
            color: white;
          }
        }

        .reject {
          background-color: $red;
          i {
            color: white;
          }
        }

        .remand {
          background-color: $light-gray;
        }

        .default {
          background-color: $light-gray;
        }

      }
    }
  }
}

.comment {
  display: flex;

  .comment-left {
    width: 80px;
    position: relative;

    .img-circle {
      height: 60px;
      width: 60px;
      background-color: $very-light-gray;
      position: absolute;
      top: 0;
      left: 0;
    }

    .comment-rectangle {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 14px solid $very-light-gray;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  .comment-right {
    flex: 1 1 auto;
    background-color: $very-light-gray;
    padding: 10px 5px;

    .comment-right-info {
      display: flex;
      padding: 5px;
      margin-bottom: 5px;

      h5 {
        margin: 0;
      }

      .comment-writer {
        font-weight: bold;
      }
    }

    .comment-right-content {
      padding: 5px;
      background-color: white;
    }
  }
}
