.card {
  background-color: $very-light-gray;
  display: flex;
  height: 300px;
  padding: 6px;
  border-radius: $border-radius-base;

  .card-left-part {
    background-color: white;
    flex: 0 1 70%;
    height: 100%;
    margin-right: 3px;
    padding: 5px;
    position: relative;
    display: flex;

    .card-left-creator-leftbottom {
      position: absolute;
      left: 5px;
      bottom: 5px;
      flex: 0 0 25%;
    }
  }

  .card-right-part {
    flex: 0 0 30%;
    height: 100%;
    margin-left: 3px;
    display: flex;
    flex-direction: column;

    .card-date {
      background-color: white;
      flex: 0 0 25%;
      margin-bottom: 3px;
      padding: 5px;
    }

    .card-receivers {
      background-color: white;
      flex: 0 1 75%;
      margin-top: 3px;
      padding: 5px;
    }
  }
}
