.comment {
  display: flex;
  margin-top: 20px;

  .comment-left {
    width: 80px;
    position: relative;

    .img-circle {
      height: 60px;
      width: 60px;
      background-color: $very-light-gray;
      position: absolute;
      top: 0;
      left: 0;
    }

    .comment-rectangle {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 14px solid $very-light-gray;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  .comment-right {
    flex: 1 1 auto;
    background-color: $very-light-gray;
    padding: 10px 5px;

    .comment-right-info {
      display: flex;
      padding: 5px;
      margin-bottom: 5px;

      h5 {
        margin: 0;
      }

      .comment-writer {
        font-weight: bold;
      }
    }

    .comment-right-content {
      padding: 5px;
      background-color: white;
    }
  }
}
