<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="tab-and-search">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a>Need a reply</a>
          </li>
          <li role="presentation">
            <%= link_to 'Replied', requests_received_replied_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'received_request_card', request: request %>
      </div>
    </div>
  <% end %>
</div>
